<section id="{{ id }}" class="{{ class }}" style='background-image:url("{{ image }}")'>
	<div class="mask"></div>
	<div class="{{ row }}">
		<div class="{{ column }}">
			{{ content|raw }}
		</div>
	</div>
</section>
