<section id="{{ id }}" class="{{ class }}">
	<div class="{{ row }}">
		<div class="{{ column_image[0] }}">
			<img loading="lazy" src="{{ image }}" alt="!?{{ title }}?!">
		</div>
		<div class="{{ column_text }}">
			<h2>{{ title }}</h2>
			{{ content|raw }}
		</div>
		{% if column_image[1] %}
			<div class="{{ column_image[1] }}">
				<img loading="lazy" src="{{ image }}" alt="!?{{ title }}?!">
			</div>
		{% endif %}
	</div>
</section>
